@import "tailwindcss";

@layer components{
    .dark{
        @apply bg-gray-700 text-white font-light 
    }
    .button{
        @apply border border-2 
    }
    .container{
     @apply  mt-8 mx-auto bg-blue-100 min-w-[90%] 
    }
    /* image sec */
    .img{
        @apply grid grid-cols-4 gap-3 w-[90%] mx-auto mt-8
    }
    .ace{
        @apply border border-3 hover:shadow hover:opacity-95 hover:scale-[90%] border-amber-300
    }
    .placeholder{
        @apply text-center justify-center mx-auto
    }
    .test{
        @apply transition-transform duration-150 ease-linear active:scale-95 object-cover
    }
}
    /* break points for medium screens */


@theme {
  /* This overwrites or adds to your breakpoints */
  --breakpoint-sm: 300px;
  --breakpoint-md: 500px;
  --breakpoint-lg: 1360px; /* Custom breakpoint */
}



