@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@layer components{
    .dark{
        @apply bg-amber-700 text-white font-light 
    }
    .button{
        @apply border border-2 
    }
    .container{
     @apply  mt-8 mx-auto  min-w-[90%] rounded-2xl
    }
    /* image sec */
    .img{
        @apply grid sm:grid-cols-3 md:grid-cols-4 w-[90%] mt-8 items-center justify-center mx-auto 
    }
    .ace{
        @apply border cursor-pointer border-2 hover:shadow hover:opacity-95 hover:scale-[90%] rounded-xl border-[#8B5E3C]
    }
    .placeholder{
        @apply text-center justify-center mx-auto
    }
    .test{
        @apply transition-transform duration-150 ease-linear active:scale-95 object-cover
    }
    .color{
        @apply text-amber-500
    }
    .butt{
        @apply w-[30%] rounded-2xl border
    }
    .name{
        @apply md:text-amber-300 lg:mb-2 md:bg-[#F9F5F0] 
        md:rounded-xl md:justify-center 
        md:w-[67%] mt-1.5  md:text-center sm:ml-1 lg:w-[70%]
    }
    .cat{
        @apply rounded-2xl cursor-pointer p-2 m-1 hover:bg-[#F9F5F0] bg-gray-200
    }
    
}
    /* break points for medium screens */


@theme {
    /* 2. Register your fonts here (v4 style) */
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;


  /* This overwrites or adds to your breakpoints */
  --breakpoint-sm: 300px;
  --breakpoint-md: 500px;
  --breakpoint-lg: 1360px; /* Custom breakpoint */
}



